.wrap {
    position: relative;
      z-index: 999999999999999999999;
     width: 100%;
     height: 100%;
     padding: 0 60px;
     /* background: url('https://source.unsplash.com/user/erondu/1600x900') center no-repeat !important; */
     /* background: url(https://images.unsplash.com/photo-1485069203392-8e1aeb1ebf02?auto=format&fit=crop&w=1054&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D) center no-repeat; */
     -webkit-background-size: cover;
     background-size: cover;
     overflow: hidden;
     /* background:unset !important; */
   }
   .wrap:after {
     content:'';
     position: absolute;
     z-index: 2;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: rgba(0,0,0,.5);
   }
   .slider {
     position: relative;
     z-index: 200;
     padding: 0 0px;
     margin: 5rem auto;
     max-width: 1000px;
     width: 100%;
   }
   .slick-arrow {
     position: absolute;
     top: 50%;
     width: 40px;
     height: 50px;
     line-height: 50px;
     margin-top: -25px;
     border: none;
     /* background: transparent; */
     color: #fff;
     /* font-family: monospace;
     font-size: 5rem; */
     z-index: 300;
     outline: none;
   }
   /* .slick-prev {
     left: -50px;
     text-align: left;
   }
   .slick-next {
     right: -50px;
     text-align: right;
   } */
   .item.slick-slide {
     width: 600px;
     height: 400px !important;
     transition: transform .4s;
     position: relative; 
   }
   .slick-slide:after {
     content:'';
     position: absolute;
     z-index: 2;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     transition: transform .4s;
   }
   .item.slick-slide {
     transform: scale(0.7)  translate(640px);
   }
   .item.slick-slide.slick-center + .slick-slide {
     /* transform: scale(0.8) translate(-250px); */
     transform: scale(0.8) translate(50px);
     z-index: 10;
   }
   .item.slick-slide.slick-center + .slick-slide + .item.slick-slide {
     transform: scale(0.7)  translate(-640px);
     z-index: 5;
   }
   .item.slick-slide.slick-active {
     /* transform: scale(0.8) translate(250px); */
     transform: scale(0.6) translate(50px);
   }
   .item.slick-slide.slick-center {
     transform: scale(1);
     z-index: 30;
   }
   .slick-center:after {
     opacity: 0;
   }













   .flip-card {
    background-color: transparent;
    perspective: 1000px;
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    /* margin-bottom: 200px; */
    /* perspective: 1000px; */
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    /* height: 100%; */
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front {
    position: relative;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    bottom: 0;
    top: 0;
  }
  
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  }

  .flip-card-back img{
    width: 100%;
    height: auto;
  }